<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <br><br><br>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card class="showcase-card">
        <mat-card-header>
          <mat-card-title>Releasing This Month</mat-card-title>
          <mat-card-subtitle>New Releases</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/i/event-banner.gif" alt="Releasing Now">
        <mat-card-content>
          <p>
            <b>Release This Month</b><br><br>
            Revenant (Ray Bayly)
            <br><br>
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="showcase-card">
            <mat-card-header>
              <mat-card-title>Our Authors</mat-card-title>
              <mat-card-subtitle>Links to Authors</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/i/authors.gif" alt="Our Authors">
            <mat-card-content>
              <p>
                <b><a href="">Ray Bayly</a></b><br>
                <b><a href="">John Jacobs</a></b><br>
                <b><a href="">Martin Roberts</a></b><br>
                <b><a href="">Anna Dumfries</a></b><br>
              </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="showcase-card">
            <mat-card-header>
              <mat-card-title>News</mat-card-title>
              <mat-card-subtitle>Latest News</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/i/news-banner.gif" alt="Our Authors">
            <mat-card-content>
              <p>
                <b><a href="">New Titles going Audible</a></b><br>
                <b><a href="">Promotions for This Month</a></b><br>
              </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="showcase-card">
            <mat-card-header>
              <mat-card-title>Company</mat-card-title>
              <mat-card-subtitle>Departments</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/i/company-banner.gif" alt="Our Authors">
            <mat-card-content>
              <p>
                <b><a href="">Human Resources</a></b><br>
                <b><a href="">Marketing</a></b><br>
                <b><a href="">Information Technology</a></b><br>
              </p>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
